Template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_la_createteamsfromforms_name": {
            "defaultValue": "la-createteamsfromforms",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_la_createteamsfromforms_name')]",
            "location": "switzerlandnorth",
            "tags": {
                "Cost Center": "1000123123"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_new_response_is_submitted": {
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "eventType": "responseAdded",
                                    "notificationUrl": "@{listCallbackUrl()}",
                                    "source": "ms-connector"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['microsoftforms_1']['connectionId']"
                                    }
                                },
                                "path": "/formapi/api/forms/@{encodeURIComponent('-4k9mZLF-kOBkhhptPEE8lspKSUeD7hLrnvimPWYxypURDlRQUg5RkNTVjZERlAyTDVSSkU2T0wzMi4u')}/webhooks"
                            }
                        }
                    },
                    "actions": {
                        "Get_response_details": {
                            "runAfter": {
                                "Initialize_variable_TeamName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['microsoftforms_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/formapi/api/forms('@{encodeURIComponent('-4k9mZLF-kOBkhhptPEE8lspKSUeD7hLrnvimPWYxypURDlRQUg5RkNTVjZERlAyTDVSSkU2T0wzMi4u')}')/responses",
                                "queries": {
                                    "response_id": "@triggerBody()?['resourceData']?['responseId']"
                                }
                            }
                        },
                        "Initialize_variable_AuthorizationHeaderValue": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AuthorizationHeaderValue",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_TeamID": {
                            "runAfter": {
                                "Initialize_variable_AuthorizationHeaderValue": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TeamID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_TeamName": {
                            "runAfter": {
                                "Initialize_variable_TeamID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TeamName",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Post_adaptive_card_and_wait_for_a_response": {
                            "runAfter": {
                                "Get_response_details": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "body": {
                                        "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"text\": \"a new teams request\",\n            \"style\": \"heading\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Teams Serviceaccount\",\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"hi there, a new teams request launched from our forms. \\nplease check all the attributes.\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Type: @{body('Get_response_details')?['r3241ed6d6fdc4f1e917afda0887e9a85']}\\n Description: @{body('Get_response_details')?['rad6fc0ada83d43e99ee525fa7219cc55']}\\n Responder: @{body('Get_response_details')?['responder']}\\n Time: @{body('Get_response_details')?['submitDate']}\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"ActionSet\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.Submit\",\n                    \"title\": \"Approve\"\n                },\n                {\n                    \"type\": \"Action.Submit\",\n                    \"title\": \"Deny\"\n                }\n            ]\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.4\"\n}",
                                        "recipient": {
                                            "channelId": "19:773ccaae49eb499bbdccecebed20f57d@thread.tacv2",
                                            "groupId": "9f3dc3fd-1c65-4667-97a7-91c9e66335ea"
                                        },
                                        "updateMessage": "Thanks for your response!"
                                    },
                                    "notificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Channel')}/$subscriptions"
                            }
                        },
                        "Send_approval_email": {
                            "runAfter": {
                                "Post_adaptive_card_and_wait_for_a_response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "Message": {
                                        "Body": "Hi, there is a new Teams Request - Please approve or decline. \n\nTeam Name: @{body('Get_response_details')?['r63c2b5a824e04e468cdca813963b9e91']}\nDescription: @{body('Get_response_details')?['rad6fc0ada83d43e99ee525fa7219cc55']}\nType: @{body('Get_response_details')?['r3241ed6d6fdc4f1e917afda0887e9a85']}\nRequest from: @{body('Get_response_details')?['responder']}\nTime: @{body('Get_response_details')?['submitDate']}\n",
                                        "HideHTMLMessage": false,
                                        "Importance": "Normal",
                                        "Options": "Approve, Reject",
                                        "ShowHTMLConfirmationDialog": false,
                                        "Subject": "New Teams Request",
                                        "To": "sandro@crayon101.onmicrosoft.com",
                                        "UseOnlyHTMLMessage": true
                                    },
                                    "NotificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "path": "/approvalmail/$subscriptions"
                            }
                        },
                        "Switch": {
                            "runAfter": {
                                "Send_approval_email": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Case_1_Internal_Public": {
                                    "case": "Internal Public",
                                    "actions": {
                                        "Condition_case_1_approval": {
                                            "actions": {
                                                "Delay_for_case_1": {
                                                    "runAfter": {
                                                        "HTTP_case_1_create_team": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Wait",
                                                    "inputs": {
                                                        "interval": {
                                                            "count": 20,
                                                            "unit": "Second"
                                                        }
                                                    }
                                                },
                                                "For_each_case_1": {
                                                    "foreach": "@body('Parse_JSON_case_1')?['value']",
                                                    "actions": {
                                                        "Set_variable_case_1_TeamID": {
                                                            "runAfter": {},
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "TeamID",
                                                                "value": "@items('For_each_case_1')?['id']"
                                                            }
                                                        },
                                                        "Set_variable_case_1_TeamName": {
                                                            "runAfter": {
                                                                "Set_variable_case_1_TeamID": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "TeamName",
                                                                "value": "@items('For_each_case_1')?['displayName']"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_case_1": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "HTTP_case_1_create_team": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "body": {
                                                            "description": "@{body('Get_response_details')?['rad6fc0ada83d43e99ee525fa7219cc55']}",
                                                            "displayName": "@{body('Get_response_details')?['r63c2b5a824e04e468cdca813963b9e91']}",
                                                            "members": [
                                                                {
                                                                    "@@odata.type": "#microsoft.graph.aadUserConversationMember",
                                                                    "roles": [
                                                                        "owner"
                                                                    ],
                                                                    "user@odata.bind": "https://graph.microsoft.com/beta/users('@{body('Get_response_details')?['responder']}')"
                                                                }
                                                            ],
                                                            "template@odata.bind": "https://graph.microsoft.com/beta/teamsTemplates('standard')"
                                                        },
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/teams"
                                                    }
                                                },
                                                "HTTP_case_1_get_team_name": {
                                                    "runAfter": {
                                                        "Delay_for_case_1": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "headers": {
                                                            "ConsistencyLevel": "eventual"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/beta/groups?$search=\"displayName:@{body('Get_response_details')?['r63c2b5a824e04e468cdca813963b9e91']}\""
                                                    }
                                                },
                                                "HTTP_case_1_update_label_to_internal_public": {
                                                    "runAfter": {
                                                        "Set_variable_case_1_authheader": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "body": {
                                                            "assignedLabels": [
                                                                {
                                                                    "labelId": "826402d8-d35b-4c65-aaca-7b23b150a96c"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {
                                                            "Authorization": "@variables('AuthorizationHeaderValue')",
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "PATCH",
                                                        "uri": "https://graph.microsoft.com/beta/groups/@{variables('TeamID')}"
                                                    }
                                                },
                                                "HTTP_get_user_token_for_delegated_permissions_case_1": {
                                                    "runAfter": {
                                                        "For_each_case_1": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "body": "grant_type=password&resource=https://graph.microsoft.com&client_id=11cf9fdc-af79-486b-b982-8fb4091a23c8&username=serviceaccount@crayon101.onmicrosoft.com&password=PASSWORD&client_secret=SECRET-cb.u",
                                                        "headers": {
                                                            "Content-Type": "application/x-www-form-urlencoded"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://login.microsoftonline.com/993d89fb-c592-43fa-8192-1869b4f104f2/oauth2/token"
                                                    },
                                                    "runtimeConfiguration": {
                                                        "secureData": {
                                                            "properties": [
                                                                "inputs"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "Parse_JSON_access_token_case_1": {
                                                    "runAfter": {
                                                        "HTTP_get_user_token_for_delegated_permissions_case_1": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('HTTP_get_user_token_for_delegated_permissions_case_1')",
                                                        "schema": {
                                                            "properties": {
                                                                "access_token": {
                                                                    "type": "string"
                                                                },
                                                                "expires_in": {
                                                                    "type": "string"
                                                                },
                                                                "expires_on": {
                                                                    "type": "string"
                                                                },
                                                                "ext_expires_in": {
                                                                    "type": "string"
                                                                },
                                                                "not_before": {
                                                                    "type": "string"
                                                                },
                                                                "resource": {
                                                                    "type": "string"
                                                                },
                                                                "token_type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_JSON_case_1": {
                                                    "runAfter": {
                                                        "HTTP_case_1_get_team_name": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('HTTP_case_1_get_team_name')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "classification": {},
                                                                            "createdByAppId": {
                                                                                "type": "string"
                                                                            },
                                                                            "createdDateTime": {
                                                                                "type": "string"
                                                                            },
                                                                            "deletedDateTime": {},
                                                                            "description": {
                                                                                "type": "string"
                                                                            },
                                                                            "displayName": {
                                                                                "type": "string"
                                                                            },
                                                                            "expirationDateTime": {},
                                                                            "groupTypes": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "infoCatalogs": {
                                                                                "type": "array"
                                                                            },
                                                                            "isAssignableToRole": {},
                                                                            "isManagementRestricted": {},
                                                                            "mail": {
                                                                                "type": "string"
                                                                            },
                                                                            "mailEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "mailNickname": {
                                                                                "type": "string"
                                                                            },
                                                                            "membershipRule": {},
                                                                            "membershipRuleProcessingState": {},
                                                                            "onPremisesDomainName": {},
                                                                            "onPremisesLastSyncDateTime": {},
                                                                            "onPremisesNetBiosName": {},
                                                                            "onPremisesObjectIdentifier": {},
                                                                            "onPremisesProvisioningErrors": {
                                                                                "type": "array"
                                                                            },
                                                                            "onPremisesSamAccountName": {},
                                                                            "onPremisesSecurityIdentifier": {},
                                                                            "onPremisesSyncEnabled": {},
                                                                            "organizationId": {
                                                                                "type": "string"
                                                                            },
                                                                            "preferredDataLocation": {},
                                                                            "preferredLanguage": {},
                                                                            "proxyAddresses": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "renewedDateTime": {
                                                                                "type": "string"
                                                                            },
                                                                            "resourceBehaviorOptions": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "resourceProvisioningOptions": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "securityEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "securityIdentifier": {
                                                                                "type": "string"
                                                                            },
                                                                            "serviceProvisioningErrors": {
                                                                                "type": "array"
                                                                            },
                                                                            "theme": {},
                                                                            "uniqueName": {},
                                                                            "visibility": {
                                                                                "type": "string"
                                                                            },
                                                                            "writebackConfiguration": {
                                                                                "properties": {
                                                                                    "isEnabled": {},
                                                                                    "onPremisesGroupType": {}
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "deletedDateTime",
                                                                            "classification",
                                                                            "createdDateTime",
                                                                            "createdByAppId",
                                                                            "organizationId",
                                                                            "description",
                                                                            "displayName",
                                                                            "expirationDateTime",
                                                                            "groupTypes",
                                                                            "infoCatalogs",
                                                                            "isAssignableToRole",
                                                                            "isManagementRestricted",
                                                                            "mail",
                                                                            "mailEnabled",
                                                                            "mailNickname",
                                                                            "membershipRule",
                                                                            "membershipRuleProcessingState",
                                                                            "onPremisesDomainName",
                                                                            "onPremisesLastSyncDateTime",
                                                                            "onPremisesNetBiosName",
                                                                            "onPremisesObjectIdentifier",
                                                                            "onPremisesSamAccountName",
                                                                            "onPremisesSecurityIdentifier",
                                                                            "onPremisesSyncEnabled",
                                                                            "preferredDataLocation",
                                                                            "preferredLanguage",
                                                                            "proxyAddresses",
                                                                            "renewedDateTime",
                                                                            "resourceBehaviorOptions",
                                                                            "resourceProvisioningOptions",
                                                                            "securityEnabled",
                                                                            "securityIdentifier",
                                                                            "theme",
                                                                            "visibility",
                                                                            "uniqueName",
                                                                            "onPremisesProvisioningErrors",
                                                                            "serviceProvisioningErrors",
                                                                            "writebackConfiguration"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Send_an_HTTP_request_to_SharePoint_(update_library_with_label)_case_1": {
                                                    "runAfter": {
                                                        "HTTP_case_1_update_label_to_internal_public": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "body": "{\n  \"__metadata\": {\n    \"type\": \"SP.List\"\n  },\n\"DefaultSensitivityLabelForLibrary\": \"826402d8-d35b-4c65-aaca-7b23b150a96c\"\n}",
                                                            "headers": {
                                                                "Accept": "application/json;odata=verbose",
                                                                "Content-Type": "application/json;odata=verbose",
                                                                "If-Match": "*",
                                                                "X-HTTP-Method": "MERGE"
                                                            },
                                                            "method": "POST",
                                                            "uri": "_api/web/lists/getbytitle('Documents')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://crayon101.sharepoint.com/sites/',variables('TeamName')))}/httprequest"
                                                    }
                                                },
                                                "Set_variable_case_1_authheader": {
                                                    "runAfter": {
                                                        "Parse_JSON_access_token_case_1": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "AuthorizationHeaderValue",
                                                        "value": "Bearer @{body('Parse_JSON_access_token_case_1')?['access_token']}"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "Post_message_in_a_chat_or_channel_case_1": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "messageBody": "<p>Good day, your Teams request is not approved.&nbsp;</p>",
                                                                "recipient": "@body('Get_response_details')?['responder']"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@body('Send_approval_email')?['SelectedOption']",
                                                            "Approve"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    }
                                },
                                "Case_2_Internal_Private": {
                                    "case": "Internal Private",
                                    "actions": {
                                        "Condition_case_2_approval": {
                                            "actions": {
                                                "Delay_for_case_2": {
                                                    "runAfter": {
                                                        "HTTP_case_2_create_team": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Wait",
                                                    "inputs": {
                                                        "interval": {
                                                            "count": 20,
                                                            "unit": "Second"
                                                        }
                                                    }
                                                },
                                                "For_each_case_2": {
                                                    "foreach": "@body('Parse_JSON_case_2')?['value']",
                                                    "actions": {
                                                        "Set_variable_case_2_TeamID": {
                                                            "runAfter": {},
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "TeamID",
                                                                "value": "@items('For_each_case_2')?['id']"
                                                            }
                                                        },
                                                        "Set_variable_case_2_TeamName": {
                                                            "runAfter": {
                                                                "Set_variable_case_2_TeamID": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "TeamName",
                                                                "value": "@items('For_each_case_2')?['displayName']"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_case_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "HTTP_case_2_create_team": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "body": {
                                                            "description": "@{body('Get_response_details')?['rad6fc0ada83d43e99ee525fa7219cc55']}",
                                                            "displayName": "@{body('Get_response_details')?['r63c2b5a824e04e468cdca813963b9e91']}",
                                                            "members": [
                                                                {
                                                                    "@@odata.type": "#microsoft.graph.aadUserConversationMember",
                                                                    "roles": [
                                                                        "owner"
                                                                    ],
                                                                    "user@odata.bind": "https://graph.microsoft.com/beta/users('@{body('Get_response_details')?['responder']}')"
                                                                }
                                                            ],
                                                            "template@odata.bind": "https://graph.microsoft.com/beta/teamsTemplates('standard')"
                                                        },
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/teams"
                                                    }
                                                },
                                                "HTTP_case_2_get_team_name": {
                                                    "runAfter": {
                                                        "Delay_for_case_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "headers": {
                                                            "ConsistencyLevel": "eventual"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/beta/groups?$search=\"displayName:@{body('Get_response_details')?['r63c2b5a824e04e468cdca813963b9e91']}\""
                                                    }
                                                },
                                                "HTTP_case_2_update_label_to_internal": {
                                                    "runAfter": {
                                                        "Set_variable_case_2_authheader": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "body": {
                                                            "assignedLabels": [
                                                                {
                                                                    "labelId": "826402d8-d35b-4c65-aaca-7b23b150a96c"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {
                                                            "Authorization": "@variables('AuthorizationHeaderValue')",
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "PATCH",
                                                        "uri": "https://graph.microsoft.com/beta/groups/@{variables('TeamID')}"
                                                    }
                                                },
                                                "HTTP_get_user_token_for_delegated_permissions_case_2": {
                                                    "runAfter": {
                                                        "For_each_case_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "body": "grant_type=password&resource=https://graph.microsoft.com&client_id=11cf9fdc-af79-486b-b982-8fb4091a23c8&username=serviceaccount@crayon101.onmicrosoft.com&password=PASSWORD&client_secret=SECRET-cb.u",
                                                        "headers": {
                                                            "Content-Type": "application/x-www-form-urlencoded"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://login.microsoftonline.com/993d89fb-c592-43fa-8192-1869b4f104f2/oauth2/token"
                                                    },
                                                    "runtimeConfiguration": {
                                                        "secureData": {
                                                            "properties": [
                                                                "inputs"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "Parse_JSON_access_token_case_2": {
                                                    "runAfter": {
                                                        "HTTP_get_user_token_for_delegated_permissions_case_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('HTTP_get_user_token_for_delegated_permissions_case_2')",
                                                        "schema": {
                                                            "properties": {
                                                                "access_token": {
                                                                    "type": "string"
                                                                },
                                                                "expires_in": {
                                                                    "type": "string"
                                                                },
                                                                "expires_on": {
                                                                    "type": "string"
                                                                },
                                                                "ext_expires_in": {
                                                                    "type": "string"
                                                                },
                                                                "not_before": {
                                                                    "type": "string"
                                                                },
                                                                "resource": {
                                                                    "type": "string"
                                                                },
                                                                "token_type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_JSON_case_2": {
                                                    "runAfter": {
                                                        "HTTP_case_2_get_team_name": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('HTTP_case_2_get_team_name')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "classification": {},
                                                                            "createdByAppId": {
                                                                                "type": "string"
                                                                            },
                                                                            "createdDateTime": {
                                                                                "type": "string"
                                                                            },
                                                                            "deletedDateTime": {},
                                                                            "description": {
                                                                                "type": "string"
                                                                            },
                                                                            "displayName": {
                                                                                "type": "string"
                                                                            },
                                                                            "expirationDateTime": {},
                                                                            "groupTypes": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "infoCatalogs": {
                                                                                "type": "array"
                                                                            },
                                                                            "isAssignableToRole": {},
                                                                            "isManagementRestricted": {},
                                                                            "mail": {
                                                                                "type": "string"
                                                                            },
                                                                            "mailEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "mailNickname": {
                                                                                "type": "string"
                                                                            },
                                                                            "membershipRule": {},
                                                                            "membershipRuleProcessingState": {},
                                                                            "onPremisesDomainName": {},
                                                                            "onPremisesLastSyncDateTime": {},
                                                                            "onPremisesNetBiosName": {},
                                                                            "onPremisesObjectIdentifier": {},
                                                                            "onPremisesProvisioningErrors": {
                                                                                "type": "array"
                                                                            },
                                                                            "onPremisesSamAccountName": {},
                                                                            "onPremisesSecurityIdentifier": {},
                                                                            "onPremisesSyncEnabled": {},
                                                                            "organizationId": {
                                                                                "type": "string"
                                                                            },
                                                                            "preferredDataLocation": {},
                                                                            "preferredLanguage": {},
                                                                            "proxyAddresses": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "renewedDateTime": {
                                                                                "type": "string"
                                                                            },
                                                                            "resourceBehaviorOptions": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "resourceProvisioningOptions": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "securityEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "securityIdentifier": {
                                                                                "type": "string"
                                                                            },
                                                                            "serviceProvisioningErrors": {
                                                                                "type": "array"
                                                                            },
                                                                            "theme": {},
                                                                            "uniqueName": {},
                                                                            "visibility": {
                                                                                "type": "string"
                                                                            },
                                                                            "writebackConfiguration": {
                                                                                "properties": {
                                                                                    "isEnabled": {},
                                                                                    "onPremisesGroupType": {}
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "deletedDateTime",
                                                                            "classification",
                                                                            "createdDateTime",
                                                                            "createdByAppId",
                                                                            "organizationId",
                                                                            "description",
                                                                            "displayName",
                                                                            "expirationDateTime",
                                                                            "groupTypes",
                                                                            "infoCatalogs",
                                                                            "isAssignableToRole",
                                                                            "isManagementRestricted",
                                                                            "mail",
                                                                            "mailEnabled",
                                                                            "mailNickname",
                                                                            "membershipRule",
                                                                            "membershipRuleProcessingState",
                                                                            "onPremisesDomainName",
                                                                            "onPremisesLastSyncDateTime",
                                                                            "onPremisesNetBiosName",
                                                                            "onPremisesObjectIdentifier",
                                                                            "onPremisesSamAccountName",
                                                                            "onPremisesSecurityIdentifier",
                                                                            "onPremisesSyncEnabled",
                                                                            "preferredDataLocation",
                                                                            "preferredLanguage",
                                                                            "proxyAddresses",
                                                                            "renewedDateTime",
                                                                            "resourceBehaviorOptions",
                                                                            "resourceProvisioningOptions",
                                                                            "securityEnabled",
                                                                            "securityIdentifier",
                                                                            "theme",
                                                                            "visibility",
                                                                            "uniqueName",
                                                                            "onPremisesProvisioningErrors",
                                                                            "serviceProvisioningErrors",
                                                                            "writebackConfiguration"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Send_an_HTTP_request_to_SharePoint_(update_library_with_label)_case_2": {
                                                    "runAfter": {
                                                        "HTTP_case_2_update_label_to_internal": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "body": "{\n  \"__metadata\": {\n    \"type\": \"SP.List\"\n  },\n\"DefaultSensitivityLabelForLibrary\": \"826402d8-d35b-4c65-aaca-7b23b150a96c\"\n}",
                                                            "headers": {
                                                                "Accept": "application/json;odata=verbose",
                                                                "Content-Type": "application/json;odata=verbose",
                                                                "If-Match": "*",
                                                                "X-HTTP-Method": "MERGE"
                                                            },
                                                            "method": "POST",
                                                            "uri": "_api/web/lists/getbytitle('Documents')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://crayon101.sharepoint.com/sites/',variables('TeamName')))}/httprequest"
                                                    }
                                                },
                                                "Set_variable_case_2_authheader": {
                                                    "runAfter": {
                                                        "Parse_JSON_access_token_case_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "AuthorizationHeaderValue",
                                                        "value": "Bearer @{body('Parse_JSON_access_token_case_2')?['access_token']}"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "Post_message_in_a_chat_or_channel_case_2": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "messageBody": "<p>Good day, your Teams request is not approved.&nbsp;</p>",
                                                                "recipient": "@body('Get_response_details')?['responder']"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@body('Send_approval_email')?['SelectedOption']",
                                                            "Approve"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    }
                                },
                                "Case_3_External_Collab": {
                                    "case": "External Collab",
                                    "actions": {
                                        "Condition_case_3_approval": {
                                            "actions": {
                                                "Delay_for_case_3": {
                                                    "runAfter": {
                                                        "HTTP_case_3_create_team": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Wait",
                                                    "inputs": {
                                                        "interval": {
                                                            "count": 20,
                                                            "unit": "Second"
                                                        }
                                                    }
                                                },
                                                "For_each_case_3": {
                                                    "foreach": "@body('Parse_JSON_case_3')?['value']",
                                                    "actions": {
                                                        "Set_variable_case_3_TeamID": {
                                                            "runAfter": {},
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "TeamID",
                                                                "value": "@items('For_each_case_3')?['id']"
                                                            }
                                                        },
                                                        "Set_variable_case_3_TeamName": {
                                                            "runAfter": {
                                                                "Set_variable_case_3_TeamID": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "TeamName",
                                                                "value": "@items('For_each_case_3')?['displayName']"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_case_3": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "HTTP_case_3_create_team": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "body": {
                                                            "description": "@{body('Get_response_details')?['rad6fc0ada83d43e99ee525fa7219cc55']}",
                                                            "displayName": "@{body('Get_response_details')?['r63c2b5a824e04e468cdca813963b9e91']}",
                                                            "members": [
                                                                {
                                                                    "@@odata.type": "#microsoft.graph.aadUserConversationMember",
                                                                    "roles": [
                                                                        "owner"
                                                                    ],
                                                                    "user@odata.bind": "https://graph.microsoft.com/beta/users('@{body('Get_response_details')?['responder']}')"
                                                                }
                                                            ],
                                                            "template@odata.bind": "https://graph.microsoft.com/beta/teamsTemplates('standard')"
                                                        },
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/teams"
                                                    }
                                                },
                                                "HTTP_case_3_get_team_name": {
                                                    "runAfter": {
                                                        "Delay_for_case_3": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "type": "ManagedServiceIdentity"
                                                        },
                                                        "headers": {
                                                            "ConsistencyLevel": "eventual"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/beta/groups?$search=\"displayName:@{body('Get_response_details')?['r63c2b5a824e04e468cdca813963b9e91']}\""
                                                    }
                                                },
                                                "HTTP_case_3_update_label_external_collaboration": {
                                                    "runAfter": {
                                                        "Set_variable_case_3_authheader": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "body": {
                                                            "assignedLabels": [
                                                                {
                                                                    "labelId": "f640e251-dddb-4196-a46a-f9221704add4"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {
                                                            "Authorization": "@variables('AuthorizationHeaderValue')",
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "PATCH",
                                                        "uri": "https://graph.microsoft.com/beta/groups/@{variables('TeamID')}"
                                                    }
                                                },
                                                "HTTP_get_user_token_for_delegated_permissions_case_3": {
                                                    "runAfter": {
                                                        "For_each_case_3": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "body": "grant_type=password&resource=https://graph.microsoft.com&client_id=11cf9fdc-af79-486b-b982-8fb4091a23c8&username=serviceaccount@crayon101.onmicrosoft.com&password=PASSWORD&client_secret=SECRETcb.u",
                                                        "headers": {
                                                            "Content-Type": "application/x-www-form-urlencoded"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://login.microsoftonline.com/993d89fb-c592-43fa-8192-1869b4f104f2/oauth2/token"
                                                    },
                                                    "runtimeConfiguration": {
                                                        "secureData": {
                                                            "properties": [
                                                                "inputs"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "Parse_JSON_case_3": {
                                                    "runAfter": {
                                                        "HTTP_case_3_get_team_name": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('HTTP_case_3_get_team_name')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "classification": {},
                                                                            "createdByAppId": {
                                                                                "type": "string"
                                                                            },
                                                                            "createdDateTime": {
                                                                                "type": "string"
                                                                            },
                                                                            "deletedDateTime": {},
                                                                            "description": {
                                                                                "type": "string"
                                                                            },
                                                                            "displayName": {
                                                                                "type": "string"
                                                                            },
                                                                            "expirationDateTime": {},
                                                                            "groupTypes": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "infoCatalogs": {
                                                                                "type": "array"
                                                                            },
                                                                            "isAssignableToRole": {},
                                                                            "isManagementRestricted": {},
                                                                            "mail": {
                                                                                "type": "string"
                                                                            },
                                                                            "mailEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "mailNickname": {
                                                                                "type": "string"
                                                                            },
                                                                            "membershipRule": {},
                                                                            "membershipRuleProcessingState": {},
                                                                            "onPremisesDomainName": {},
                                                                            "onPremisesLastSyncDateTime": {},
                                                                            "onPremisesNetBiosName": {},
                                                                            "onPremisesObjectIdentifier": {},
                                                                            "onPremisesProvisioningErrors": {
                                                                                "type": "array"
                                                                            },
                                                                            "onPremisesSamAccountName": {},
                                                                            "onPremisesSecurityIdentifier": {},
                                                                            "onPremisesSyncEnabled": {},
                                                                            "organizationId": {
                                                                                "type": "string"
                                                                            },
                                                                            "preferredDataLocation": {},
                                                                            "preferredLanguage": {},
                                                                            "proxyAddresses": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "renewedDateTime": {
                                                                                "type": "string"
                                                                            },
                                                                            "resourceBehaviorOptions": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "resourceProvisioningOptions": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "securityEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "securityIdentifier": {
                                                                                "type": "string"
                                                                            },
                                                                            "serviceProvisioningErrors": {
                                                                                "type": "array"
                                                                            },
                                                                            "theme": {},
                                                                            "uniqueName": {},
                                                                            "visibility": {
                                                                                "type": "string"
                                                                            },
                                                                            "writebackConfiguration": {
                                                                                "properties": {
                                                                                    "isEnabled": {},
                                                                                    "onPremisesGroupType": {}
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "deletedDateTime",
                                                                            "classification",
                                                                            "createdDateTime",
                                                                            "createdByAppId",
                                                                            "organizationId",
                                                                            "description",
                                                                            "displayName",
                                                                            "expirationDateTime",
                                                                            "groupTypes",
                                                                            "infoCatalogs",
                                                                            "isAssignableToRole",
                                                                            "isManagementRestricted",
                                                                            "mail",
                                                                            "mailEnabled",
                                                                            "mailNickname",
                                                                            "membershipRule",
                                                                            "membershipRuleProcessingState",
                                                                            "onPremisesDomainName",
                                                                            "onPremisesLastSyncDateTime",
                                                                            "onPremisesNetBiosName",
                                                                            "onPremisesObjectIdentifier",
                                                                            "onPremisesSamAccountName",
                                                                            "onPremisesSecurityIdentifier",
                                                                            "onPremisesSyncEnabled",
                                                                            "preferredDataLocation",
                                                                            "preferredLanguage",
                                                                            "proxyAddresses",
                                                                            "renewedDateTime",
                                                                            "resourceBehaviorOptions",
                                                                            "resourceProvisioningOptions",
                                                                            "securityEnabled",
                                                                            "securityIdentifier",
                                                                            "theme",
                                                                            "visibility",
                                                                            "uniqueName",
                                                                            "onPremisesProvisioningErrors",
                                                                            "serviceProvisioningErrors",
                                                                            "writebackConfiguration"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_JSON_for_access_token_case_3": {
                                                    "runAfter": {
                                                        "HTTP_get_user_token_for_delegated_permissions_case_3": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('HTTP_get_user_token_for_delegated_permissions_case_3')",
                                                        "schema": {
                                                            "properties": {
                                                                "access_token": {
                                                                    "type": "string"
                                                                },
                                                                "expires_in": {
                                                                    "type": "string"
                                                                },
                                                                "expires_on": {
                                                                    "type": "string"
                                                                },
                                                                "ext_expires_in": {
                                                                    "type": "string"
                                                                },
                                                                "not_before": {
                                                                    "type": "string"
                                                                },
                                                                "resource": {
                                                                    "type": "string"
                                                                },
                                                                "token_type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Send_an_HTTP_request_to_SharePoint_(update_library_with_label)_case_3": {
                                                    "runAfter": {
                                                        "HTTP_case_3_update_label_external_collaboration": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "body": "{\n  \"__metadata\": {\n    \"type\": \"SP.List\"\n  },\n\"DefaultSensitivityLabelForLibrary\": \"f640e251-dddb-4196-a46a-f9221704add4\"\n}",
                                                            "headers": {
                                                                "Accept": "application/json;odata=verbose",
                                                                "Content-Type": "application/json;odata=verbose",
                                                                "If-Match": "*",
                                                                "X-HTTP-Method": "MERGE"
                                                            },
                                                            "method": "POST",
                                                            "uri": "_api/web/lists/getbytitle('Documents')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://crayon101.sharepoint.com/sites/',variables('TeamName')))}/httprequest"
                                                    }
                                                },
                                                "Set_variable_case_3_authheader": {
                                                    "runAfter": {
                                                        "Parse_JSON_for_access_token_case_3": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "AuthorizationHeaderValue",
                                                        "value": "Bearer @{body('Parse_JSON_for_access_token_case_3')?['access_token']}"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "Post_message_in_a_chat_or_channel_case_3": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "messageBody": "<p>Good day, your Teams request is not approved.&nbsp;</p>",
                                                                "recipient": "@body('Get_response_details')?['responder']"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@body('Send_approval_email')?['SelectedOption']",
                                                            "Approve"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@body('Get_response_details')?['r3241ed6d6fdc4f1e917afda0887e9a85']",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "microsoftforms_1": {
                                "connectionId": "[parameters('connections_microsoftforms_1_externalid')]",
                                "connectionName": "microsoftforms-1",
                                "id": "/subscriptions/e750a043-e649-4daf-8277-843a45f2c44e/providers/Microsoft.Web/locations/switzerlandnorth/managedApis/microsoftforms"
                            },
                            "office365": {
                                "connectionId": "[parameters('connections_office365_externalid')]",
                                "connectionName": "office365",
                                "id": "/subscriptions/e750a043-e649-4daf-8277-843a45f2c44e/providers/Microsoft.Web/locations/switzerlandnorth/managedApis/office365"
                            },
                            "sharepointonline": {
                                "connectionId": "[parameters('connections_sharepointonline_externalid')]",
                                "connectionName": "sharepointonline",
                                "id": "/subscriptions/e750a043-e649-4daf-8277-843a45f2c44e/providers/Microsoft.Web/locations/switzerlandnorth/managedApis/sharepointonline"
                            },
                            "teams": {
                                "connectionId": "[parameters('connections_teams_externalid')]",
                                "connectionName": "teams",
                                "id": "/subscriptions/e750a043-e649-4daf-8277-843a45f2c44e/providers/Microsoft.Web/locations/switzerlandnorth/managedApis/teams"
                            }
                        }
                    }
                }
            }
        }
    ]
}